@import "~antd/dist/antd.css";

.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ant-input-search > .ant-input {
  background-color: #f0f1f1;
}

.ant-carousel .slick-slide {
  margin-bottom: 20px;
  text-align: center;
  height: 500px;
  line-height: 500px;
  overflow: hidden;
}
